@import url(http://fonts.googleapis.com/css?family=Arbutus);

body {
  background-color: #e09224;
  color: #212526;
}

.slide {
  background-color: white;
}

h1 {
  font-family: 'Arbutus', cursive;
  color: #334d66;
}

table {
   margin: 0 auto;
}